[user]
    name = "Marco Dalla G"
    email = marco.dallagiacoma@gmail.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[push]
    default = simple
[color]
    ui = auto
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[alias]
    a = add
    d = diff
    dc = diff --cached
    pr = pull --rebase
    s = status
    log-tree = log --oneline --decorate --all --graph
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
[merge]
    tool = vimdiff
