[user]
    name = Marco Dallagiacoma
    email = marco.dallagiacoma@gmail.com

[core]
    editor = nvim
    excludesfile = ~/.gitignore
    ; pager = "diff-so-fancy | less --tabs=4 -RFX"
    pager = delta

[delta]
    theme = base16

[push]
    default = simple

[color]
    ui = auto

[alias]
    a = add
    co = checkout
    d = diff
    dc = diff --cached
    pr = pull --rebase
    s = status
    log-tree = log --oneline --decorate --all --graph
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "

[rerere]
    enabled = true

[github]
    user = dallagi

[init]
    defaultBranch = main

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

; [diff "lfs"]
;     ; show diff for lfs files
;     ; textconv = cat
